@font-face {
  font-family: Inter-Variable;
  src: 
  local('Inter-Variable'),
  url(./Inter-Variable.woff2) format('woff2 supports variations'),
  url(./Inter-Variable.woff2) format('woff2-variations');
  font-style: normal;
  font-display: swap;
  font-weight: 410 715;
}

@font-face {
  font-family: 'PressStart2P';
  src: url(./PressStart2P-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
