:root {
  --main-font-family: 'Inter-Variable', sans-serif;
  --accent-font-family: 'PressStart2P', sans-serif;
  --main-font-weight: 410;
  --h3-font-weight: 715;
  --accent-font-weight: 400;
  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom,  #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --width-content: clamp(375px, calc(260.56px + 30.52vw), 700px);
  --bg-color: rgba(255 255 255 / 1);
  --accent-color: rgba(0 0 0 / 1);
  --main-border: 2px solid var(--accent-color);
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --contour-color: rgba(0 0 0 / 1);
  --animation-fill-color: rgba(255 0 0 / 1);
}